h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.bg-pink{
	background-color:pink;
}

#task {
    /* margin: 0px; */
    height: 98px;
    width: 309px;
    display: block;
    
}
body {
    display: flex;
    margin-left: 50px;
}